.container {
    margin: 20px;
  }
  
  div {
    padding: 10px;
    border: 1px solid pink;
    margin-bottom: 10px;
  }
  
  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: skyblue;
    color: wheat;
  }
  
  .position-static {
    position: static;
  }
  
  .position-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
  }
  