.container {
    border: 1px solid wheat;
    overflow: hidden; 
  }

  .box1 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    float: left; 
    margin: 10px; 
  }

  .box2 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    float: right; 
    margin: 10px; 
  }

  .box3 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    float: right; 
    margin: 10px; 
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both; 
  }