body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(69, 69, 190);
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* .banner {
  background-image: url("task8.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color: white;  
}  */

.container {
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-bottom: 10px;
}

footer {
  background-color: rgb(69, 69, 190);
  color: white;
  padding: 10px 0;
  text-align: center;
} 
